@model abantu.mvc.Models.Avaliacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Avaliacao</h4>
@Html.ValidationSummary()
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Avaliado : @Html.DropDownList("Funcionarios")
            </div>
            <div class="form-group">
                Avaliador : @Html.DropDownList("Gerentes")
            </div>
            <div class="form-group">
                <label asp-for="RealizadaEm" class="control-label"></label>
                <input asp-for="RealizadaEm" class="form-control" />
                <span asp-validation-for="RealizadaEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
