@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vinde!</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construção de aplicaçoes com ASP.NET Core</a>.</p>
</div>
